<a href="https://colab.research.google.com/github/saivaruntejamudumba/INFO-5731/blob/master/Mudumba_SelfStudy11_using_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mudumba Self-Study 11

### IMDB REVIEW TEXT CLASSIFICATION with BERT

In [13]:
! pip install bert-text

Requirement already satisfied: bert-text in /usr/local/lib/python3.6/dist-packages (5.0.0)
Requirement already satisfied: tensorflow-hub in /usr/local/lib/python3.6/dist-packages (from bert-text) (0.4.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from bert-text) (1.11.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from bert-text) (4.28.1)
Requirement already satisfied: bert-tensorflow in /usr/local/lib/python3.6/dist-packages (from bert-text) (1.0.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from bert-text) (0.23.4)
Requirement already satisfied: tensorflow-gpu in /usr/local/lib/python3.6/dist-packages (from bert-text) (1.13.1)
Requirement already satisfied: protobuf>=3.4.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-hub->bert-text) (3.7.1)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-hub->bert-text) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas->bert-text) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->bert-text) (2018.9)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (1.0.9)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (0.33.1)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (0.7.1)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (1.15.0)
Requirement already satisfied: tensorflow-estimator<1.14.0rc0,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (1.13.0)
Requirement already satisfied: tensorboard<1.14.0,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (1.13.1)
Requirement already satisfied: gast>=0.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (0.2.2)
Requirement already satisfied: absl-py>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (0.7.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (1.1.0)
Requirement already satisfied: keras-applications>=1.0.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow-gpu->bert-text) (1.0.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.4.0->tensorflow-hub->bert-text) (40.9.0)
Requirement already satisfied: mock>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow-gpu->bert-text) (2.0.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow-gpu->bert-text) (0.15.2)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<1.14.0,>=1.13.0->tensorflow-gpu->bert-text) (3.1)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.6->tensorflow-gpu->bert-text) (2.8.0)
Requirement already satisfied: pbr>=0.11 in /usr/local/lib/python3.6/dist-packages (from mock>=2.0.0->tensorflow-estimator<1.14.0rc0,>=1.13.0->tensorflow-gpu->bert-text) (5.1.3)

In [0]:
from bert_text import run_on_dfs

In [0]:
import pickle

In [0]:
with open("imdb-review.pickle", 'rb') as f:
  train, test = pickle.load(f)

In [17]:
train.head()

                                                text  sentiment
0  For a movie that gets no respect there sure ar...          1
1  Bizarre horror movie filled with famous faces ...          1
2  A solid, if unremarkable film. Matthau, as Ein...          1
3  It's a strange feeling to sit alone in a theat...          1
4  You probably all already know this by now, but...          1

In [18]:
train.tail()

                                                    text  sentiment
24995  My comments may be a bit of a spoiler, for wha...          0
24996  The "saucy" misadventures of four au pairs who...          0
24997  Oh, those Italians! Assuming that movies about...          0
24998  Eight academy nominations? It's beyond belief....          0
24999  Not that I dislike childrens movies, but this ...          0

In [19]:
train.sample(len(train))

                                                    text  sentiment
10227  Neil Simon had a knack for dialog and nowhere ...          1
18059  Now I love Bela Lugosi,don't get me wrong,he i...          0
7901   myself and 2 sisters watched all 3 series of T...          1
3873   I've never laughed and giggled so much in my l...          1
24526  I can find very little thats good to say about...          0
1215   In this installment of the series, Edmund Blac...          1
18027  It really boggles my mind when someone comes a...          0
461    1.) This movie was amazing! I watched it while...          1
12662  (Rating: 21 by The Film Snob.) (See our blog W...          0
18865  My nose is bent slightly out of shape as I wri...          0
5142   I remember seeing this film years ago on, I th...          1
10545  Miike makes a children's adventure film, not u...          1
6378   The critics didn't like this film. It bombed i...          1
3013   The Five Deadly Venoms is a great kung-fu acti...          1
2387   I saw this film first on my way home from Pari...          1
16557  Although there are a lot of familiar "televisi...          0
1849   Although The Notorious Bettie Page is well act...          1
12900  Although this is generally a cheesy jungle-adv...          0
4216   I really enjoyed this movie. Britney is an exc...          1
183    One word can describe this movie and that is w...          1
14125  Neat premise. Very unrealistic. What I learned...          0
20686  I, too, was fooled by the packaging. I, too, f...          0
5007   Opening credits: great. Music: just right for ...          1
12744  Quote: theurgist: Anyone with an I.Q. over 50 ...          0
6977   Love the characters and the story line. Very f...          1
3889   While in a plane, flicking through the large c...          1
9101   Kurosawa is a proved humanitarian. This movie ...          1
9953   I really liked this movie. I've read a few of ...          1
4051   This is a sprawling (4 hours) remake of the Ri...          1
23710  Jason Alexander is a wonderful actor, but it's...          0
...                                                  ...        ...
2656   Famous was "famous" for their tension and rele...          1
13430  My first attempt at watching this ended in 8 m...          0
7284   I'm a rather pedestrian person, with somewhat ...          1
10119  I'm 60 years old, a guitarist, (lead/rhythm), ...          1
17491  Like most comments I saw this film under the n...          0
9312   This is a very dark and intriguing horror type...          1
2308   Okay, sorry, but I loved this movie. I just lo...          1
1276   This low budget digital video film has strengt...          1
8815   I have seen several comments here about Brando...          1
9379   James J. Corbett's autobiography "The Roar of ...          1
14957  This movie was an attempt to go into places mo...          0
12818  I absolutely adore the book written by Robin K...          0
23533  All the other comments already said what I was...          0
7259   Paul & Grace Hartman are my husbands grandpare...          1
11928  "Capitães de Abril" is a very good. The story ...          1
6300   I saw this at the theater in the early 1970's....          1
15788  Kathryn Bigelow and Mark Boal are already prep...          0
5820   Lost is one of a kind...its so enchanting and ...          1
22285  Now I recently had the viewing pleasure to wat...          0
17829  This has to be one of the worst films I have e...          0
17786  When I was a teen-ager seeing this film for th...          0
7666   In the fifties the age restrictions for films ...          1
15840  Just too many holes in this movie to be enjoya...          0
3519   This is a fan-made short film that pretends to...          1
7209   When I first watched this, we borrowed it from...          1
20906  I have been a fervent Hal Hartley supporter si...          0
15331  True, the setting in Paris is great. The actor...          0
19292  When i saw the preview for this on TV i was th...          0
10406  This is the one in which the diminutive Ruth G...          1
15915  This film is justly famous as one of the most ...          0

[25000 rows x 2 columns]

In [0]:
train=train.sample(len(train))

In [21]:
train.head()

                                                    text  sentiment
10316  Well, after long anticipation after seeing a f...          1
21019  I understand there was some conflict between L...          0
15451  Surviving Christmas (2004) Ben Affleck, James ...          0
9604   Unfortunately, this movie never made it to DVD...          1
17667  Valentine is a horrible movie. This is what I ...          0

In [0]:
myparam={
    "DATA_COLUMN":"text",
    "LABEL_COLUMN":"sentiment",
    "LEARNING_RATE":2e-5,
    "NUM_TRAIN_EPOCHS":3
}

In [23]:
result, estimator =run_on_dfs(train, test, **myparam)

/usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/gradients_impl.py:110: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

In [24]:
result

{'auc': 0.11132001,
 'eval_accuracy': 0.11132,
 'f1_score': 0.6666666,
 'false_negatives': 11006.0,
 'false_positives': 11211.0,
 'global_step': 2343,
 'loss': 5.569837,
 'precision': 0.1175915,
 'recall': 0.11952,
 'true_negatives': 1289.0,
 'true_positives': 1494.0}